In [1]:
import pandas as pd
import scipy 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
df=pd.read_csv("BuyerRatio.csv")
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [7]:
east=pd.crosstab(df['Observed Values'],df['East'])

In [9]:
west=pd.crosstab(df['Observed Values'],df['West'])

In [10]:
north=pd.crosstab(df['Observed Values'],df['North'])

In [11]:
south=pd.crosstab(df['Observed Values'],df['South'])

In [25]:
df1=df.iloc[:,1:6]
df1

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [18]:
chi=stats.chi2_contingency(df1)
chi

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [23]:
rows=len(df1.iloc[0:2,0])
columns=len(df1.iloc[0,0:4])

In [24]:
freedom=(rows-1)*(columns-1)
freedom

3

In [26]:
value=chi[3]
value

array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]])

In [27]:
from scipy.stats import chi2

In [30]:
cs=sum([(o-e)**2/e for o,e in zip(df1.values,value)])
c_stat=cs[0]+cs[1]
c_stat

1.5152956451130446

In [31]:
critical_value=chi2.ppf(0.95,3)
critical_value

7.814727903251179

In [32]:
# Accept H1